---
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard, { formatTechs } from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import presentation from "@/data/presentation";
import projects from "@/data/projects";
const works: any = [
  {
    slug: "/",
    data: {
      title: "Fitprime - Fullstack web developer",
      description: "",
      dates: "jan 2021 - Sept 2022",
      link: "https://fitprime.com",
      techs: [
        "Laravel",
        "React",
        "VueJS",
        "AlpineJs",
        "Livewire",
        "TailwindCSS",
        "Mysql",
        "Redis",
      ],
    },
  },
  {
    slug: "/",
    data: {
      title: "ShippyPro - Fullstack web developer",
      description: "",
      dates: "Sep 2022 - Feb 2023",
      link: "https://shippypro.com",
      techs: [
        "React",
        "Typescript",
        "Drupal",
        "Mysql",
      ],
    },
  },
  {
    slug: "/",
    data: {
      title: "Atomica - Fullstack web developer",
      description: "",
      dates: "Feb 2023 - Current",
      link: "https://atomicastudio.com",
      techs: [
        "Laravel",
        "React",
        "Typescript",
        "TailwindCSS",
        "Livewire",
        "Django",
        "Mysql",
        "Redis",
      ],
    },
  },
];
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
      <h2
        class="max-w-[60ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <SocialLinks />
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Work</h3>
        
      </header>
      <article class="flex flex-col gap-4">
        {
          works.map((post) => (
            <a
              class="group flex flex-col gap-2 border-t cursor-pointer border-neutral-700 py-4 transition-all hover:text-neutral-100"
              href={post.data.link}
              target="_blank"
            >
              <div class="flex w-full items-center justify-between">
                <h2 class="text-lg">{post.data.title}</h2>

                <div class="flex flex-row items-center gap-4">
                  <p>{post.data.dates}</p>
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    class="transition-all duration-300 group-hover:translate-x-1"
                  >
                    <path
                      d="M5.25 12.75L12.75 5.25"
                      stroke="#999999"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M5.25 5.25H12.75V12.75"
                      stroke="#999999"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
              <p>{post.data.description}</p>
              <p>{formatTechs(post.data.techs)}</p>
            </a>
          ))
        }
      </article>
    </article>
  </main>

  <article class="flex flex-col gap-8">
    <header class="flex w-full flex-row justify-between gap-2">
      <h3 class="text-lg text-neutral-100">Freelance and Projects</h3>
    </header>
    <section class="flex flex-col gap-4">
      {
        projects.length !== 0 &&
          projects.map((project) => <ProjectCard {...project} />)
      }
    </section>
  </article>

  <article class="flex flex-col gap-8">
    <header class="flex w-full flex-row justify-between gap-2">
      <h3 class="text-lg text-neutral-100">Get in touch</h3>
    </header>
    <p>
      Email me at <Link
        href={`mailto:${presentation.mail}`}
        label={presentation.mail}
      /> or follow me via my social links.
    </p>

    <SocialLinks />
  </article>
</Layout>
